# PostgreSQL Configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db

# Backend Configurations
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inventory_db
SECRET_KEY=supersecretkeychangeinproduction123
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Frontend Configurations
VITE_API_URL=http://localhost:8000
